
// Colors
$bg-color: #00095e;
$grey-bg: #f6f9fc;
$primary: #ff4495;
$p-color: #232f55;

// Font Sizes
$font-sm: 0.9375rem; // 15px
$font-md: 1.125rem; // 18px

// Fonts
$body-font: 'Josefin Sans', sans-serif;
$header-font: 'Josefin Sans', sans-serif;
$p-font: 'Mulish', sans-serif;

// Font Weight
$body-font-weight: 300;
$p-font-weight: 500;
$header-font-weight: 700;



